Repository kucherenko/cli-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx,js}": ["prettier --write", "eslint --fix"],
  "*.{css,json}": ["prettier --write"]
}

feat(commitizen): add commit helper for the project
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(greeting): add exapmle of interactive prompts
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  LICENSE
  README.md
  package.json
  pnpm-lock.yaml
  src/commands/greeting.ts
  src/commands/index.ts
Due: prettier --write, eslint --fix

refactor(lint-staged): remove lint staged, all linting and formating moved to husky
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(package): add semantic-release package
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(release): add github action and semantic-relese for auto releases
  .github/workflows/release.yml
  .releaserc.json
  package.json
Due: prettier --write

feat(release): add github action and semantic-relese for auto releases
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

ci(release): change release branch
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  67437bb6d32fde9e8822c9c128fc4a54ebfc6ee1
Due: none

chore(npmignore): add npm configuration for publish
  .npmignore
  package.json
Due: prettier --write

fix(actions): issue with executing the package
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  c55a2f0e2a80d19a76f87dc790fbffe6be21c748
Due: none

docs(readme): add information about github action for publishing a new version of the package
  README.md
Due: none

feat(info): print full process config
  src/commands/info.ts
Due: prettier --write, eslint --fix

refactor(tsup): disable source map for production releases
  tsup.config.ts
Due: prettier --write, eslint --fix

docs(readme): add documentation about sample commands
  README.md
Due: none

Notes added by 'git notes add'
  4d11d1b7c32dad460882003f5c1aebcafb3c5c71
Due: none

refactor(commands): update labels in commands and add description to script runner
  bin/run.ts
  src/commands/greeting.ts
  src/commands/info.ts
Due: prettier --write, eslint --fix

feat(greeting): change qoa library to prompts for interactive dialogs
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/commands/greeting.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  606b57bd78dbc7e0c1f013ae2e1f99cf4277a332
Due: none

chore(eslint): add auto remove unused imports
  .eslintrc.cjs
Due: none

feat(logger): change logger to consola
  package.json
  pnpm-lock.yaml
  src/commands/greeting.ts
  src/commands/info.ts
  src/logger.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(package.json): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

test(jest): change config for jest, exclude dist folder
  jest.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

fix(audit): change github action for run pnpm audit
  .github/workflows/release.yml
  jest.config.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7bfa870e8d626083b74b5321e63f4ed3482536f7
Due: none

chore(tsconfig): add configuration for ts-node
  tsconfig.json
Due: prettier --write

chore(tsconfig): fix small formating issue
  tsconfig.json
Due: prettier --write

chore(build): change tsup to tsup-node for build
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(create): add create command to start new project with `cli-typescript-starter`
  bin/run.ts
  package.json
  pnpm-lock.yaml
  src/commands/create.ts
  src/commands/index.ts
  src/index.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7d53f5769447fa08636c31af9eab589747cce8d0
Due: none

fix(create): alias for create command
  src/commands/create.ts
Due: prettier --write, eslint --fix

docs(readme): update readme file, add infomration about `create` command, update actual dependencies
  README.md
Due: none

Notes added by 'git notes add'
  270c5f9b9529507590c260367b85310615755d9c
Due: none

ci(actions): update github actions steps, change node version to actual lts
  .github/workflows/release.yml
Due: none

Update README.md
  README.md
Due: none

chore: add dependabot, migrate to oxc toolchain, add jscpd
  .eslintignore
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .oxlintrc.json
  .prettierignore
  .prettierrc
  bin/run.ts
  commitlint.config.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/commands/create.ts
  src/commands/greeting.ts
  src/commands/index.ts
  src/commands/info.ts
  src/index.test.ts
  src/index.ts
  src/logger.ts
  tsup.config.ts
Due: prettier --write, eslint --fix

fix(ci): update pnpm version and make audit signatures non-blocking
  .github/workflows/release.yml
Due: none

fix(ci): use pnpm/action-setup for reliable pnpm installation
  .github/workflows/release.yml
Due: none

docs: update README with Oxc toolchain and Dependabot
  README.md
Due: none

fix(ci): make semantic-release non-blocking when no releasable commits
  .github/workflows/release.yml
  README.md
Due: none
